# Supabase Configuration
REACT_APP_SUPABASE_URL=https://zglwokmmhhrmukhdhqlt.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnbHdva21taGhybXVraGRocWx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3MjA4ODIsImV4cCI6MjA3MTI5Njg4Mn0.Pl6g465ZIZuWAuTtGiZcxPe3JXdSaoTv-bNFmzHJr3E
